openapi: 3.0.1
info:
  title: Transunion services API
  version: 0.0.1
servers:
- url: https://mltply.eastus.cloudapp.azure.com/microservices/$apiEnvironment/tu/
security:
- basicAuth: []
paths:
  /getVHS/:
    post:
      tags:
      - Transunion
      - Services
      description: Returns score information.
      operationId: information
      requestBody:
        description: Contains information about the Quote being proccesed, and uses
          an array of VIN's to make a request to TU
        content:
          application/json:
              schema:
                $ref: '#/components/schemas/requestVhs'
                  
        required: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getvhs'
        401:
          description: Unauthorized - Missing or invalid basic auth credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        501:
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Not Found'
      x-codegen-request-body-name: VHS request body
  /getDriverMVR/:
    post:
      tags:
      - Transunion
      - Services
      description: Returns information of drivers violations
      operationId: vehicles
      requestBody:
        description: Contains information about each driver and the state where the
          business works
        content:
          application/json:
              schema:
                $ref: '#/components/schemas/requestMvr'
        required: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_violations'
        401:
          description: Unauthorized - Missing or invalid basic auth credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        501:
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Not Found'
      x-codegen-request-body-name: MVR request body
  /swagger:
    x-swagger-pipe: swagger_raw
components:
  schemas:

    requestVhs:
      type: object
      properties:
          quoteref:
            type: string
          vins:
            type: array
            items:
              type: string

    requestMvr:
      type: object
      properties:
        businessState:
          type: string
        drivers:
          type: array
          items:
            type: object
            properties:
              licenseNumber:
                type: string
              firstName:
                type: string
              lastName:
                type: string
              streetNumber:
                type: integer
              streetName:
                type: string
              licenseState:
                type: string
              dob:
                type: string
                format: date
              city:
                type: string
              selfReportedMinorViolationPoints:
                type: integer
              selfReportedMajorViolationPoints:
                type: integer
              selfReportedAccidentPoints:
                type: integer

    getvhs:
      type: object
      properties:
        success:
          type: boolean
        response:
          type: object
          properties:
            score:
              type: integer
              
    list_violations:
      type: object
      properties:
        success:
          type: boolean
        response:
          type: array
          items:
            type: object
            properties:
              violations:
                type: array
                items:
                  type: object
                  properties:
                    source:
                      type: string
                    violationDate:
                      type: string
                      format: date
                    acdCode:
                      type: string
                    evcCode:
                      type: string
                    violationDescription:
                      type: string
                    points:
                      type: integer
              validatedLicense:
                type: boolean
              transUnionSearchStatus:
                type: string
              transUnionErrorCode:
                type: number
              transUnionErrorDescription:
                type: string
              driverLicense:
                type: string
              totalPoints:
                type: integer
    Not Found:
      type: object
      properties:
        response:
          type: string
    Unauthorized:
      type: object
      properties:
        response:
          type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
