<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pouch | Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" href="https://mltply.eastus.cloudapp.azure.com/webservices/{server-environment}/resources/common/img/pouch.ico" type="img/x-icon"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://mltply.eastus.cloudapp.azure.com/webservices/{server-environment}/resources/login/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://mltply.eastus.cloudapp.azure.com/webservices/{server-environment}/resources/login/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="https://mltply.eastus.cloudapp.azure.com/webservices/{server-environment}/resources/login/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://mltply.eastus.cloudapp.azure.com/webservices/{server-environment}/resources/login/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://mltply.eastus.cloudapp.azure.com/webservices/{server-environment}/resources/login/css/util.css">
	<link rel="stylesheet" type="text/css" href="https://mltply.eastus.cloudapp.azure.com/webservices/{server-environment}/resources/login/css/main.css">
    <link rel="stylesheet" type="text/css" href="https://mltply.eastus.cloudapp.azure.com/webservices/{server-environment}/resources/common/css/mainStyle1.css">
<!--===============================================================================================-->
<script>
	var serverEnvironment = '{server-environment}'
</script>

</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">

				<form id="signup-form" class="login100-form validate-form">
					<span class="login100-form-title">
						Developer Only Register
					</span>

					<h5 style="display: block; text-align: center; color: darkgreen;" id="text-message">message</h5>
					<br>

					<div class="wrap-input100 validate-input" data-validate = "Username is required">
						<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fas fa-user" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Email is required">
						<input class="input100" type="text" name="email" placeholder="Email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fas fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<!-- <div class="wrap-input100 validate-input">
						<p>Role</p>
						<label><input type="checkbox" name="role[]" value="review">Review</label>
						<br>
						<label><input type="checkbox" name="role[]" value="verify">Verify</label>
						<br>
						<label><input type="checkbox" name="role[]" value="admin">Admin</label>
					</div> -->
					<br>
					<div class="wrap-input100">
						<p>Roles</p>
						<br>
						<div class="checkbox-container">
							<input type="checkbox" class="checkbox-input" id="role-review" name="role[]" value="review">
							<label class="checkbox-label" for="role-review">Review</label>
						</div>
						<div class="checkbox-container">
							<input type="checkbox" class="checkbox-input" id="role-verify" name="role[]" value="verify">
							<label class="checkbox-label" for="role-verify">Verify</label>
						</div>
						<div class="checkbox-container">
							<input type="checkbox" class="checkbox-input" id="role-admin" name="role[]" value="admin">
							<label class="checkbox-label" for="role-admin">Admin</label>
						</div>
					</div>
								
					

					
					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Register
						</button>
					</div>

					

					<!-- <div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
						<a class="txt2" href="#">
							Username / Password?
						</a>
					</div> -->

					<!-- <div class="text-center p-t-136">
						<a class="txt2" href="#">
							Create your Account
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div> -->
				</form>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="https://mltply.eastus.cloudapp.azure.com/webservices/{server-environment}/resources/login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="https://mltply.eastus.cloudapp.azure.com/webservices/{server-environment}/resources/login/vendor/bootstrap/js/popper.js"></script>
	<script src="https://mltply.eastus.cloudapp.azure.com/webservices/{server-environment}/resources/login/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="https://mltply.eastus.cloudapp.azure.com/webservices/{server-environment}/resources/login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="https://mltply.eastus.cloudapp.azure.com/webservices/{server-environment}/resources/register/js/main.js"></script>

</body>
</html>